.todo {
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding: 10px;
}

.todo:hover {
  background: rgba(214, 214, 214, 0.342);
}

.todo input {
  zoom: 1.6;
}

.todo input:checked {
  accent-color: rgb(137, 236, 223);
}
