.App {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-form {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 20px;
}

.App-form input {
  width: 85%;
  height: 2rem;
  font-size: 20px;
}

.App-form button {
  margin: 1px;
  width: 40%;
  height: 2.3rem;
  font-size: 20px;
  background: rgb(2, 90, 108);
  color: white;
  border: none;
}

.App-form button:hover {
  background: rgb(8, 141, 123);
}

.Todos {
  width: 33%;
  height: 1.3rem;
}
